@page "/"

<h3>Welcome to Flight Manager</h3>

<ul class="list-group">
    <li class="list-group-item">
        <NavLink href="/flights">✈️ View Flights</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink href="/users">👤 View Users</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="nav-link" href="/reservations">Reservations</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="nav-link" href="/passengers">Passengers</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="nav-link" href="/planes">Planes</NavLink>
    </li>
</ul>
