@page "/"

<h3>Welcome to Flight Manager</h3>

<ul class="list-group">
    <li class="list-group-item">
        <NavLink href="/flights">✈️ View Flights</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink href="/users">👤 View Users</NavLink>
    </li>
</ul>
